<template>
  <div v-if="estateObject">
    <div class="pt-[24px] pb-[40px] h2 flex gap-[60px]">
      Информация об объекте <span>ID {{ estateObject.id }}</span>
    </div>
    <ModalWindow :open="showAddModal" @close="showAddModal = false">
      <template v-slot:body>
        <div class="w-[800px] h-[424px] mx-[48px] my-[24px]">
          <VeeForm
            class="pt-[48px]"
            @submit="submitAssigmentForm"
            :validation-schema="schemaAssigment"
          >
            <div class="flex flex-col gap-[16px] w-full">
              <PaginatedSelectorWithValidation
                :options="assigmentTypeList.assigmentTypeList"
                name="type"
                placeholder="Выберите тип"
              />
              <PaginatedSelectorWithValidation
                :options="assigmentStatusList.assigmentStatusList"
                name="status"
                placeholder="Выберите статус"
              />
              <PaginatedSelectorWithValidation
                :options="userList.userList"
                name="executor"
                placeholder="Выберите ответственного"
              />
              <PaginatedSelectorWithValidation
                :options="periodList.periodList"
                name="period"
                placeholder="Выберите срок"
              />
            </div>
            <ButtonBase class="button-primary">Сохранить</ButtonBase>
          </VeeForm>
        </div>
      </template>
    </ModalWindow>
    <VeeForm
      @submit="submitForm"
      :validationSchema="schema"
      :initialValues="estateObject"
    >
      <div class="grid grid-cols-12 gap-[16px]">
        <div class="col-span-6 text-left">
          <PaginatedSelectorWithValidation
            :options="districtList.districtList"
            label="Округ"
            name="district"
            placeholder="Выберите округ"
          />
          <PaginatedSelectorWithValidation
            :options="regionList.regionList"
            label="Район"
            name="region"
            placeholder="Выберите район"
          />
          <TextInput label="Адрес" name="address" placeholder="Адрес" />
          <PaginatedSelectorWithValidation
            :options="typeList.typeList"
            label="Тип объекта"
            name="type"
            placeholder="Выберите тип"
          />
          <PaginatedSelectorWithValidation
            :options="stateList.stateList"
            label="Состояние объекта"
            name="state"
            placeholder="Выберите состояние"
          />
          <PaginatedSelectorWithValidation
            :options="companyList.companyList"
            label="Компания исполнитель"
            name="company"
            placeholder="Выберите компанию исполнителя"
          />
          <TextInput
            label="Площадь"
            type="number"
            name="square"
            placeholder="Площадь"
          />
          <TextInput
            label="Собственник"
            name="owner"
            placeholder="Собственник"
          />
          <TextInput
            label="Кадастровый номер"
            name="cadastral_number"
            placeholder="Кадастровый номер"
          />
          <TextInput
            label="Номер протокола"
            name="protocol_number"
            placeholder="Номер протокола"
          />
        </div>
        <div class="col-span-6 text-left">
          <div>
            Фото/Видео
            <div class="bg-black w-[704px] h-[392px]" />
          </div>
          <PaginatedSelectorWithValidation
            :options="statusList.statusList"
            label="Статус"
            name="status"
            placeholder="Выберите статус"
          />
          <TextInput
            label="Фактический пользователь"
            name="actual_user"
            placeholder="Фактический пользователь"
          />

          <PaginatedSelectorWithValidation
            :options="booleanOptions"
            label="Находится в промзоне"
            name="is_industrial_zone"
            placeholder="Находится в промзоне"
          />
          <div v-if="estateObject.assigment_set[0]">
            Дата первого поручения:
            {{
              new Date(
                estateObject.assigment_set[0].db_date
              ).toLocaleDateString()
            }}
          </div>
          <div>Кол-во поручений: {{ estateObject.assigment_set.length }}</div>
        </div>
      </div>
      <div class="flex justify-end gap-2">
        <ButtonBase class="button-primary">Сохранить</ButtonBase>
        <ButtonBase class="button-secondary bg-white">Удалить</ButtonBase>
      </div>
      <div>
        <div v-if="estateObject.assigment_set.length">
          <AssigmentItem
            v-for="item in estateObject.assigment_set"
            :key="item"
            :item="item"
          />
        </div>
        <div v-else>Нет поручений</div>
      </div>
    </VeeForm>
    <ButtonBase class="button-primary" @click="showAddModal = true">
      Добавить поручение
    </ButtonBase>
  </div>
  <div v-else>Не найдено!</div>
</template>

<script>
import { Form as VeeForm } from "vee-validate";
import { ref } from "vue";
import { useRoute } from "vue-router";
import * as Yup from "yup";
import { fetchData } from "../api/fetchData.js";
import { sendDataToServer } from "../api/sendDataToServer.js";
import AssigmentItem from "../components/EstateObjectList/datails/AssigmentItem.vue";
import ButtonBase from "../components/base/ButtonBase.vue";
import ModalWindow from "../components/base/ModalWindow.vue";
import PaginatedSelectorWithValidation from "../components/base/PaginatedSelectorWithValidation.vue";
import TextInput from "../components/base/TextInput.vue";
import { useAssigmentStatusList } from "../stores/assigmentStatusList.js";
import { useAssigmentTypeList } from "../stores/assigmentTypeList.js";
import { useCompanyList } from "../stores/companyList.js";
import { useDistrictList } from "../stores/districtList.js";
import { useEstateObjectList } from "../stores/estateObjectList.js";
import { usePeriodList } from "../stores/periodList.js";
import { useRegionList } from "../stores/regionList.js";
import { useStateList } from "../stores/stateList.js";
import { useStatusList } from "../stores/statusList.js";
import { useTypeList } from "../stores/typeList.js";
import { useUserList } from "../stores/userList.js";
export default {
  components: {
    ModalWindow,
    AssigmentItem,
    PaginatedSelectorWithValidation,
    TextInput,
    VeeForm,
    ButtonBase,
  },
  async setup() {
    const booleanOptions = [
      { key: true, label: "Да" },
      { key: false, label: "Нет" },
    ];
    const estateObject = ref(null);
    const route = useRoute();
    const periodList = usePeriodList();
    const userList = useUserList();
    const statusList = useStatusList();
    const estateObjectList = useEstateObjectList();
    const typeList = useTypeList();
    const regionList = useRegionList();
    const districtList = useDistrictList();
    const companyList = useCompanyList();
    const stateList = useStateList();
    const assigmentTypeList = useAssigmentTypeList();
    const assigmentStatusList = useAssigmentStatusList();
    const schemaAssigment = Yup.object().shape({
      type: Yup.object().required(),
      status: Yup.object().required(),
      executor: Yup.object().required(),
      period: Yup.object().required(),
    });
    const schema = Yup.object().shape({
      company: Yup.object().nullable(),
      district: Yup.object().required(),
      region: Yup.object().required(),
      address: Yup.string()
        .test(
          "Максимум символов",
          "Должно быть меньше 255 символов",
          (val) => val.length <= 255
        )
        .required(),
      type: Yup.object().required(),
      state: Yup.object().nullable(),
      square: Yup.number().required(),
      owner: Yup.string()
        .test(
          "Максимум символов",
          "Должно быть меньше 255 символов",
          (val) => val.length <= 255
        )
        .required(),
      cadastral_number: Yup.string()
        .test("Максимум символов", "Должно быть меньше 255 символов", (val) =>
          val ? val.length <= 255 : true
        )
        .nullable(),
      protocol_number: Yup.string()
        .test("Максимум символов", "Должно быть меньше 255 символов", (val) =>
          val ? val.length <= 255 : true
        )
        .nullable(),
      status: Yup.object().required(),
      actual_user: Yup.string()
        .test(
          "Максимум символов",
          "Должно быть меньше 255 символов",
          (val) => val.length <= 255
        )
        .required(),
      is_industrial_zone: Yup.object().required(),
    });
    if (!estateObjectList.estateObjectList.length) {
      const response = await fetchData(
        `${import.meta.env.VITE_API_URL}/real_estate_accounting/all-data-list/`,
        userList.token
      );
      estateObjectList.estateObjectList = response.estate_object_list;
      statusList.statusList = response.status_list;
      regionList.regionList = response.region_list;
      typeList.typeList = response.type_list;
      districtList.districtList = response.district_list;
      companyList.companyList = response.company_list;
      stateList.stateList = response.state_list;
      assigmentTypeList.assigmentTypeList = response.assigment_type_list;
      periodList.periodList = response.period_list;
      assigmentStatusList.assigmentStatusList = response.assigment_status_list;
      userList.userList = response.user_list;
    }
    estateObject.value = estateObjectList.estateObjectList.find(
      (item) => item.key === Number(route.params.id)
    );
    estateObject.value.is_industrial_zone = booleanOptions.find(
      (item) => item.key === estateObject.value.is_industrial_zone
    );

    return {
      schemaAssigment,
      schema,
      estateObject,
      estateObjectList,
      statusList,
      regionList,
      typeList,
      districtList,
      userList,
      companyList,
      stateList,
      assigmentTypeList,
      periodList,
      assigmentStatusList,
      booleanOptions,
    };
  },
  data() {
    return {
      showAddModal: false,
    };
  },
  methods: {
    async submitForm(value) {
      let body = {
        delete: [],
        create: [],
        update: { ids: [], items: [] },
      };
      const item = {
        id: this.estateObject.id,
        status: value.status.key,
        address: value.address,
        square: Number(value.square),
        owner: value.owner,
        actual_user: value.actual_user,
        district: value.district.key,
        region: value.region.key,
        type: value.type.key,
        company: value.company ? value.company.key : null,
        state: value.state ? value.state.key : null,
        cadastral_number: value.cadastral_number,
        is_industrial_zone: value.is_industrial_zone.key,
        protocol_number: value.protocol_number,
      };
      body.update.ids.push(item.id);
      body.update.items.push(item);

      await sendDataToServer(
        `${
          import.meta.env.VITE_API_URL
        }/real_estate_accounting/estate-object-list/createOrUpdateOrDelete/`,
        this.userList.token,
        body
      );
      this.estateObjectList.estateObjectList = await fetchData(
        `${
          import.meta.env.VITE_API_URL
        }/real_estate_accounting/estate-object-list/`,
        this.userList.token
      );
      alert(`Сохранено`);
      this.showAddModal = false;
    },
    async submitAssigmentForm(value) {
      const item = {
        estate_object: this.$route.params.id,
        type: value.type.key,
        status: value.status.key,
        period: value.period.key,
        executor: value.executor.key,
      };
      const response = await sendDataToServer(
        `${
          import.meta.env.VITE_API_URL
        }/real_estate_accounting/assigment-list/createOrUpdate/`,
        this.userList.token,
        item
      );
      this.estateObject.assigment_set.push(response.data);
      alert(`Сохранено`);
      this.showAddModal = false;
    },
  },
};
</script>
