<template>
  <div class="flex flex-col">
    <ActionPad
      :selected="selected"
      class="fixed mt-[32px] h-[96px]"
      @selectAll="selectAllHandler"
      @deselectAll="deselectAllHandler"
    >
      <template v-slot:search>
        <div
          class="ml-[20px] mr-[16px] w-[324px] light-border h-[56px] flex items-center justify-center relative col-span-3"
        >
          <IconSearch class="absolute left-[24px]" />
          <input
            v-model="searchAddress"
            type="text"
            placeholder="ул. Смирнова д.228"
            class="pl-[24px] font-light leading-[24px] text-center text-[20px] w-full h-full"
          />
        </div>
      </template>
      <template v-slot:ModalWindow>
        <ButtonIcon
          @click="showAgendaModal = true"
          :class="{ 'opacity-[39%]': selectedType === null }"
          :disabled="selectedType === null"
        >
          <IconFile class="w-[40px] h-[40px] m-auto" />
        </ButtonIcon>
        <ButtonIcon @click="showStatisticModal = true">
          <IconStatistic class="w-[40px] h-[40px] m-auto" />
        </ButtonIcon>
        <ButtonIcon @click="showAddModal = true">
          <IconPlus class="w-[40px] h-[40px] m-auto" />
        </ButtonIcon>
        <ButtonIcon @click="showFilterModal = true">
          <IconFilter class="w-[40px] h-[40px] m-auto" />
        </ButtonIcon>
        <ButtonIcon @click="showCalendarModal = true">
          <IconCalendar class="w-[40px] h-[40px] m-auto" />
        </ButtonIcon>
      </template>
    </ActionPad>

    <ModalWindow :open="showCalendarModal" @close="showCalendarModal = false">
      <template v-slot:body>
        <div
          class="overflow-auto w-[1200px] h-[800px] mx-[48px] my-[24px] text-left"
        >
          <FullCalendar
            class="w-full h-full p-[48px]"
            :options="calendarOptions"
          >
            <template v-slot:eventContent="arg">
              <b>{{ arg.timeText }}</b>
              <button
                data-toggle="tooltip"
                data-placement="bottom"
                :title="arg.event.title"
              >
                Название
              </button>
            </template>
          </FullCalendar>
        </div>
      </template>
    </ModalWindow>
    <ModalWindow :open="showAgendaModal" @close="showAgendaModal = false">
      <template v-slot:body>
        <div class="min-w-[800px] min-h-[424px] mx-[48px] my-[24px] text-left">
          <div class="h2 pb-[16px]">
            Повестка по объектам типа:
            <span class="text-accent-color">{{ selectedType.label }}</span>
          </div>
          <div
            class="flex gap-[16px] max-w-[800px] max-h-[324px] overflow-auto"
          >
            <div
              class="min-w-[224px]"
              v-for="key in agentaData.keys()"
              :key="key"
            >
              <div class="text-center pb-[16px]">{{ key }}</div>

              <div
                class="bg-white light-border py-[8px] px-[16px]"
                v-for="item in agentaData.get(key)"
                :key="item"
              >
                <RouterLink
                  :to="{
                    name: 'estate-object-detail',
                    params: { id: item.id },
                  }"
                >
                  <div>ID: {{ item.id }}</div>
                  <div>{{ item.address }}</div>
                </RouterLink>
              </div>
            </div>
          </div>
          <VeeForm
            @submit="submitMeetingForm"
            :validation-schema="schemaMeeting"
          >
            <DatepickerWithValidation
              name="start"
              placeholder="Дата совещания"
              selectText="Выбрать"
              cancelText="Отменить"
              locale="ru-RU"
            />
            <TextInput name="url" placeholder="Ссылка на подключение" />
            <ButtonBase class="button-primary">Создать совещание</ButtonBase>
          </VeeForm>
        </div>
      </template>
    </ModalWindow>
    <ModalWindow :open="showStatisticModal" @close="showStatisticModal = false">
      <template v-slot:body>
        <div class="min-w-[800px] min-h-[424px] mx-[48px] my-[24px] text-left">
          <div class="h2 pb-[16px]">Статистика:</div>
          <div class="max-w-[1000px] overflow-auto">
            <ChartStatistic class="flex" :data="statisticData" />
          </div>
        </div>
      </template>
    </ModalWindow>
    <ModalWindow :open="showAddModal" @close="showAddModal = false">
      <template v-slot:body>
        <div class="w-[800px] h-[424px] mx-[48px] my-[24px]">
          <div class="flex gap-[16px] pb-[32px]">
            <ButtonBase
              :class="{
                'button-primary': isHand,
                'button-secondary bg-white': !isHand,
              }"
              @click="isHand = true"
            >
              Вручную
            </ButtonBase>
            <ButtonBase
              :class="{
                'button-primary': !isHand,
                'button-secondary bg-white': isHand,
              }"
              @click="isHand = false"
            >
              Файл
            </ButtonBase>
          </div>
          <VeeForm
            @submit="submitForm"
            :validation-schema="schema"
            v-if="isHand"
          >
            <div class="flex gap-[16px] w-full">
              <div>
                <PaginatedSelectorWithValidation
                  class="w-[224px]"
                  :options="districtList.districtList"
                  name="district"
                  placeholder="Выберите округ"
                />
                <PaginatedSelectorWithValidation
                  class="w-[224px]"
                  :options="regionList.regionList"
                  name="region"
                  placeholder="Выберите район"
                />
                <PaginatedSelectorWithValidation
                  class="w-[224px]"
                  :options="typeList.typeList"
                  name="type"
                  placeholder="Выберите тип"
                />
                <PaginatedSelectorWithValidation
                  class="w-[224px]"
                  :options="statusList.statusList"
                  name="status"
                  placeholder="Выберите статус"
                />
              </div>
              <div class="grow">
                <TextInput name="address" placeholder="Адрес" />
                <TextInput type="number" name="square" placeholder="Площадь" />
                <TextInput name="owner" placeholder="Собственник" />
                <TextInput
                  name="actual_user"
                  placeholder="Фактический пользователь"
                />
              </div>
            </div>
            <ButtonBase class="button-primary">Сохранить</ButtonBase>
          </VeeForm>
          <div
            class="flex flex-col justify-center items-center"
            v-bind="getRootProps()"
            v-else-if="file === null"
          >
            <IconCloud />
            <input v-bind="getInputProps()" />
            <div v-if="isDragActive">Перетащите файл в выделенную область</div>
            <div v-else>Претащите файл или нажмите сюда для выбора файла</div>
          </div>
          <div
            class="flex flex-col gap-[32px] justify-center items-center w-full h-full"
            v-else
          >
            <IconSuccess />
            <div>Файл успешно загружен</div>
            <div class="w-full flex justify-end">
              <ButtonBase class="button-primary" @click="submitForm(file)">
                Продолжить
              </ButtonBase>
            </div>
          </div>
        </div>
      </template>
    </ModalWindow>
    <OffCanvasWindow :open="showFilterModal" @close="showFilterModal = false">
      <template v-slot:body>
        <div class="w-[464px] px-[24px] py-[24px] pt-[24px] text-left">
          <div class="h2 pb-[30px]">Фильтр</div>
          <div class="flex flex-col gap-[32px] pr-[80px]">
            <div
              class="flex flex-col gap-[16px] max-h-[800px] pr-[24px] mr-[-48px] overflow-auto"
            >
              <PaginatedSelector
                :value="selectedDistrict"
                :options="districtList.districtList"
                name="district"
                placeholder="Округ"
                @changed="selectedDistrict = $event"
              />
              <PaginatedSelector
                :value="selectedRegion"
                :options="regionList.regionList"
                name="region"
                placeholder="Район"
                @changed="selectedRegion = $event"
              />
              <PaginatedSelector
                :value="selectedType"
                :options="typeList.typeList"
                name="type"
                placeholder="Тип объекта"
                @changed="selectedType = $event"
              />
              <PaginatedSelector
                :value="selectedState"
                :options="stateList.stateList"
                name="state"
                placeholder="Состояние"
                @changed="selectedState = $event"
              />
              <PaginatedSelector
                :value="selectedStatus"
                :options="statusList.statusList"
                name="status"
                placeholder="Статус"
                @changed="selectedStatus = $event"
              />
              <PaginatedSelector
                :value="selectedCompany"
                :options="companyList.companyList"
                name="Company"
                placeholder="Компания исполнитель"
                @changed="selectedCompany = $event"
              />
              <InputFilter
                :value="searchSquare"
                placeholder="Площадь"
                @changed="searchSquare = $event.target.value"
                @clear="searchSquare = ''"
              />
              <InputFilter
                :value="searchOwner"
                placeholder="Собственник"
                @changed="searchOwner = $event.target.value"
                @clear="searchOwner = ''"
              />
              <InputFilter
                :value="searchCadastralNumber"
                placeholder="Кадастровый номер"
                @changed="searchCadastralNumber = $event.target.value"
                @clear="searchCadastralNumber = ''"
              />
              <InputFilter
                :value="searchProtocolNumber"
                placeholder="Номер протокола"
                @changed="searchProtocolNumber = $event.target.value"
                @clear="searchProtocolNumber = ''"
              />
              <Datepicker
                v-model="searchFirstReviewDate"
                placeholder="Дата первого рассмотрения"
                format="dd.MM.yyyy"
                :enableTimePicker="false"
                selectText="Выбрать"
                cancelText="Отменить"
                locale="ru-RU"
              />
              <InputFilter
                :value="searchActualUser"
                placeholder="Фактический пользователь"
                @changed="searchActualUser = $event.target.value"
                @clear="searchActualUser = ''"
              />
              <InputFilter
                :value="searchReviewCount"
                placeholder="Кол-во рассмотрений"
                @changed="searchReviewCount = $event.target.value"
                @clear="searchReviewCount = ''"
              />
              <PaginatedSelector
                :value="searchIsIndustrialZone"
                :options="booleanOptions"
                name="is_industrial_zone"
                placeholder="Находится в промзоне"
                @changed="searchIsIndustrialZone = $event"
              />
              <PaginatedSelector
                :value="selectedPeriod"
                :options="periodList.periodList"
                name="period"
                placeholder="Период"
                @changed="selectedPeriod = $event"
              />
            </div>
            <div>
              <ButtonBase class="button-primary" @click="clearFilters">
                Сбросить
              </ButtonBase>
            </div>
          </div>
        </div>
      </template>
    </OffCanvasWindow>
    <div class="mt-[152px]" v-if="filtered.length">
      <div class="grid grid-cols-12 h2 pb-[16px]">
        <div class="col-start-2 col-span-1 flex items-center justify-center">
          <SortLabel
            label="ID"
            @sort="
              $event !== null
                ? sortMap.set('key', $event)
                : sortMap.delete('key')
            "
            :isSortable="true"
          />
        </div>
        <div class="col-span-6 flex items-center justify-center">
          <SortLabel
            label="Адрес"
            @sort="
              $event !== null
                ? sortMap.set('address', $event)
                : sortMap.delete('address')
            "
            :isSortable="true"
          />
        </div>
        <div class="col-span-2 flex items-center justify-center">
          <SortLabel
            label="Состояние"
            @sort="
              $event !== null
                ? sortMap.set('state.label', $event)
                : sortMap.delete('state.label')
            "
            :isSortable="true"
          />
        </div>
        <div class="col-span-2 flex items-center justify-center">
          <SortLabel
            label="Статус"
            @sort="
              $event !== null
                ? sortMap.set('status.label', $event)
                : sortMap.delete('status.label')
            "
            :isSortable="true"
          />
        </div>
      </div>

      <div
        class="grid grid-cols-12 items-center"
        v-for="estateObject in filtered"
        :key="estateObject"
      >
        <div class="m-auto">
          <CheckBox
            class="col-span-1 w-[64px] h-[64px]"
            :isSelected="estateObject.isSelected"
            @click="estateObject.isSelected = !estateObject.isSelected"
          />
        </div>
        <RouterLink
          class="col-span-11"
          :to="{
            name: 'estate-object-detail',
            params: { id: estateObject.id },
          }"
        >
          <EstateObjectItem :item="estateObject" />
        </RouterLink>
      </div>
    </div>
    <div class="mt-[152px]" v-else>Ничего не найдено</div>
  </div>
</template>

<script>
import dayGridPlugin from "@fullcalendar/daygrid";
import FullCalendar from "@fullcalendar/vue3";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
import _ from "lodash";
import { Form as VeeForm } from "vee-validate";
import { ref } from "vue";
import { useDropzone } from "vue3-dropzone";
import { read, utils } from "xlsx";
import * as Yup from "yup";
import { fetchData } from "../api/fetchData.js";
import { sendDataToServer } from "../api/sendDataToServer.js";
import ActionPad from "../components/EstateObjectList/ActionPad.vue";
import ChartStatistic from "../components/EstateObjectList/ChartStatistic.vue";
import EstateObjectItem from "../components/EstateObjectList/EstateObjectItem.vue";
import ButtonBase from "../components/base/ButtonBase.vue";
import ButtonIcon from "../components/base/ButtonIcon.vue";
import CheckBox from "../components/base/CheckBox.vue";
import DatepickerWithValidation from "../components/base/DatePicker.vue";
import InputFilter from "../components/base/InputFilter.vue";
import ModalWindow from "../components/base/ModalWindow.vue";
import OffCanvasWindow from "../components/base/OffCanvasWindow.vue";
import PaginatedSelector from "../components/base/PaginatedSelector.vue";
import PaginatedSelectorWithValidation from "../components/base/PaginatedSelectorWithValidation.vue";
import SortLabel from "../components/base/SortLabel.vue";
import TextInput from "../components/base/TextInput.vue";
import IconCalendar from "../components/icons/IconCalendar.vue";
import IconCloud from "../components/icons/IconCloud.vue";
import IconFile from "../components/icons/IconFile.vue";
import IconFilter from "../components/icons/IconFilter.vue";
import IconPlus from "../components/icons/IconPlus.vue";
import IconSearch from "../components/icons/IconSearch.vue";
import IconStatistic from "../components/icons/IconStatistic.vue";
import IconSuccess from "../components/icons/IconSuccess.vue";
import { useAssigmentStatusList } from "../stores/assigmentStatusList.js";
import { useAssigmentTypeList } from "../stores/assigmentTypeList.js";
import { useCompanyList } from "../stores/companyList.js";
import { useDistrictList } from "../stores/districtList.js";
import { useEstateObjectList } from "../stores/estateObjectList.js";
import { useMeetingList } from "../stores/meetingList.js";
import { usePeriodList } from "../stores/periodList.js";
import { useRegionList } from "../stores/regionList.js";
import { useStateList } from "../stores/stateList.js";
import { useStatusList } from "../stores/statusList.js";
import { useTypeList } from "../stores/typeList.js";
import { useUserList } from "../stores/userList.js";
export default {
  name: "EstateObjectList",
  components: {
    FullCalendar,
    EstateObjectItem,
    CheckBox,
    ActionPad,
    SortLabel,
    IconPlus,
    IconCloud,
    IconFilter,
    IconSearch,
    IconStatistic,
    IconFile,
    IconCalendar,
    ModalWindow,
    ButtonIcon,
    ButtonBase,
    PaginatedSelector,
    PaginatedSelectorWithValidation,
    TextInput,
    IconSuccess,
    VeeForm,
    OffCanvasWindow,
    InputFilter,
    Datepicker,
    DatepickerWithValidation,
    ChartStatistic,
  },
  async setup() {
    let file = ref(null);
    const searchFirstReviewDate = ref();
    function onDrop(acceptFiles) {
      file.value = acceptFiles[0];
      loadExcelFile();
    }

    function loadExcelFile() {
      const reader = new FileReader();

      reader.onload = (event) => {
        const data = new Uint8Array(event.target.result);
        const workbook = read(data, { type: "array" });
        const sheetName = workbook.SheetNames[0];
        const sheetData = utils.sheet_to_json(workbook.Sheets[sheetName], {
          header: [
            "address",
            "district",
            "region",
            "type",
            "square",
            "owner",
            "actual_user",
            "user",
            "status",
            "cadastral_number",
            "is_industrial_zone",
            "protocol_number",
            "company",
            "state",
          ],
          range: 1,
        });
        file.value = sheetData;
      };
      reader.readAsArrayBuffer(file.value);
    }

    const { getRootProps, getInputProps, ...rest } = useDropzone({ onDrop });
    const schemaMeeting = Yup.object().shape({
      url: Yup.string().required(),
      start: Yup.date().required(),
    });
    const schema = Yup.object().shape({
      district: Yup.object().required(),
      region: Yup.object().required(),
      type: Yup.object().required(),
      status: Yup.object().required(),
      address: Yup.string()
        .test(
          "Максимум символов",
          "Должно быть меньше 255 символов",
          (val) => val.length <= 255
        )
        .required(),
      square: Yup.number().required(),
      owner: Yup.string()
        .test(
          "Максимум символов",
          "Должно быть меньше 255 символов",
          (val) => val.length <= 255
        )
        .required(),
      actual_user: Yup.string()
        .test(
          "Максимум символов",
          "Должно быть меньше 255 символов",
          (val) => val.length <= 255
        )
        .required(),
    });

    const meetingList = useMeetingList();
    const periodList = usePeriodList();
    const userList = useUserList();
    const statusList = useStatusList();
    const estateObjectList = useEstateObjectList();
    const typeList = useTypeList();
    const regionList = useRegionList();
    const districtList = useDistrictList();
    const companyList = useCompanyList();
    const stateList = useStateList();
    const assigmentTypeList = useAssigmentTypeList();
    const assigmentStatusList = useAssigmentStatusList();

    const response = await fetchData(
      `${import.meta.env.VITE_API_URL}/real_estate_accounting/all-data-list/`,
      userList.token
    );
    estateObjectList.estateObjectList = response.estate_object_list;
    statusList.statusList = response.status_list;
    regionList.regionList = response.region_list;
    typeList.typeList = response.type_list;
    districtList.districtList = response.district_list;
    companyList.companyList = response.company_list;
    stateList.stateList = response.state_list;
    assigmentTypeList.assigmentTypeList = response.assigment_type_list;
    periodList.periodList = response.period_list;
    assigmentStatusList.assigmentStatusList = response.assigment_status_list;
    userList.userList = response.user_list;
    meetingList.meetingList = response.meeting_list.map((meeting) => {
      return {
        ...meeting,
        start: new Date(meeting.start),
      };
    });
    return {
      schemaMeeting,
      searchFirstReviewDate,
      file,
      meetingList,
      estateObjectList,
      statusList,
      regionList,
      typeList,
      districtList,
      userList,
      companyList,
      stateList,
      assigmentTypeList,
      periodList,
      assigmentStatusList,
      schema,
      getRootProps,
      getInputProps,
      ...rest,
    };
  },
  data() {
    return {
      calendarOptions: {
        plugins: [dayGridPlugin],
        initialView: "dayGridMonth",
        weekends: false,
        events: this.meetingList.meetingList,
      },
      isHand: true,
      showAgendaModal: false,
      showStatisticModal: false,
      showAddModal: false,
      showCalendarModal: false,
      showFilterModal: false,
      sortMap: new Map(),
      selectedDistrict: null,
      selectedCompany: null,
      selectedRegion: null,
      searchAddress: "",
      selectedType: null,
      selectedState: null,
      searchSquare: "",
      searchProtocolNumber: "",
      searchOwner: "",
      searchCadastralNumber: "",
      selectedStatus: null,
      selectedPeriod: null,
      searchActualUser: "",
      searchReviewCount: "",
      searchIsIndustrialZone: null,
      booleanOptions: [
        { key: 1, label: "Да" },
        { key: 0, label: "Нет" },
      ],
    };
  },
  computed: {
    selected() {
      return this.estateObjectList.estateObjectList.filter(
        (item) => item.isSelected === true
      );
    },
    agentaData() {
      const res = new Map();
      if (this.showAgendaModal) {
        this.filtered.forEach((estateObject) => {
          estateObject.assigment_set.forEach((assigment) => {
            const isFinded = this.assigmentTypeList.assigmentTypeList.filter(
              (item) => (item.key = assigment.type.key)
            );
            if (isFinded.length > 0) {
              if (!res.has(assigment.type.label)) {
                res.set(assigment.type.label, []);
              }
              const currValue = res.get(assigment.type.label);
              currValue.push(estateObject);
              res.set(assigment.type.label, currValue);
            }
          });
        });
      }
      return res;
    },

    statisticData() {
      let res = [];
      const dataArray = [
        {
          arr: this.districtList.districtList,
          field: "district",
          label: "По округам",
          initial: res,
        },
        {
          arr: this.regionList.regionList,
          field: "region",
          label: "По районам",
          initial: res,
        },
        {
          arr: this.statusList.statusList,
          field: "status",
          label: "По статусу",
          initial: res,
        },
        {
          arr: this.stateList.stateList,
          field: "state",
          label: "По состоянию",
          initial: res,
        },
        {
          arr: this.typeList.typeList,
          field: "type",
          label: "По типу",
          initial: res,
        },
        {
          arr: this.booleanOptions,
          field: "is_industrial_zone",
          label: "По нахождению в промзоне",
          initial: res,
        },
        {
          arr: this.companyList.companyList,
          field: "company",
          label: "По компании исполнителю",
          initial: res,
        },
      ];
      dataArray.forEach((data) => {
        res = this.getDataStatistic(
          data.arr,
          data.field,
          data.label,
          data.initial
        );
      });
      return res;
    },
    filtered() {
      let filtred = Array.from(this.estateObjectList.estateObjectList);
      if (this.selectedDistrict !== null)
        filtred = filtred.filter(
          (item) => item.district.key === this.selectedDistrict.key
        );
      if (this.selectedRegion !== null)
        filtred = filtred.filter(
          (item) => item.region.key === this.selectedRegion.key
        );
      if (this.searchAddress !== "")
        filtred = filtred.filter((item) =>
          item.address.toLowerCase().includes(this.searchAddress.toLowerCase())
        );
      if (this.selectedState !== null)
        filtred = filtred.filter((item) =>
          item.state ? item.state.key === this.selectedState.key : null
        );
      if (this.selectedType !== null)
        filtred = filtred.filter(
          (item) => item.type.key === this.selectedType.key
        );
      if (this.searchSquare !== "")
        filtred = filtred.filter(
          (item) => String(item.square) === this.searchSquare.toLowerCase()
        );
      if (this.searchProtocolNumber !== "")
        filtred = filtred.filter((item) =>
          item.protocol_number
            ? item.protocol_number
                .toLowerCase()
                .includes(this.searchProtocolNumber.toLowerCase())
            : null
        );
      if (this.searchOwner !== "")
        filtred = filtred.filter((item) =>
          item.owner.toLowerCase().includes(this.searchOwner.toLowerCase())
        );
      if (this.searchCadastralNumber !== "")
        filtred = filtred.filter((item) =>
          item.cadastral_number
            ? item.cadastral_number
                .toLowerCase()
                .includes(this.searchCadastralNumber.toLowerCase())
            : null
        );
      if (this.searchFirstReviewDate)
        filtred = filtred.filter((item) =>
          item.assigment_set[0]
            ? new Date(item.assigment_set[0].db_date) <=
              this.searchFirstReviewDate
            : null
        );
      if (this.searchActualUser !== "")
        filtred = filtred.filter((item) =>
          item.actual_user
            ? item.actual_user
                .toLowerCase()
                .includes(this.searchActualUser.toLowerCase())
            : null
        );
      if (this.searchReviewCount !== "")
        filtred = filtred.filter(
          (item) => String(item.assigment_set.length) === this.searchReviewCount
        );
      if (this.selectedStatus !== null)
        filtred = filtred.filter(
          (item) => item.type.key === this.selectedStatus.key
        );
      if (this.selectedCompany !== null)
        filtred = filtred.filter((item) =>
          item.company ? item.company.key === this.selectedCompany.key : null
        );
      if (this.searchIsIndustrialZone !== null)
        filtred = filtred.filter(
          (item) =>
            item.is_industrial_zone === Boolean(this.searchIsIndustrialZone.key)
        );
      const todayDate = new Date();
      if (this.selectedPeriod !== null)
        filtred = filtred.filter((item) => {
          let startDate = new Date();
          startDate = new Date(
            startDate.setDate(todayDate.getDate() - this.selectedPeriod.days)
          );
          const date = new Date(item.db_date);
          if (date > startDate && date < todayDate) {
            return item;
          }
        });
      filtred = _.orderBy(
        filtred,
        [...this.sortMap.keys()],
        [...this.sortMap.values()]
      );
      return filtred;
    },
  },
  methods: {
    getDataStatistic(arr, fieldName, label, res) {
      const arrWithNull = Array.from(arr);
      arrWithNull.push({
        key: null,
        label: "Не выбрано",
      });
      const map = new Map();
      arrWithNull.forEach((item) => {
        const items = this.filtered.filter((filteredItem) => {
          if (filteredItem[fieldName] === null && item.key === null) {
            return filteredItem;
          }
          switch (typeof filteredItem[fieldName]) {
            case "object": {
              if (
                filteredItem[fieldName] &&
                filteredItem[fieldName].key === item.key
              ) {
                return filteredItem;
              }
              break;
            }
            case "boolean": {
              if (Number(filteredItem[fieldName]) === item.key) {
                return filteredItem;
              }
              break;
            }
          }
        });
        map.set(item.label, items.length);
      });
      res.push({ label: label, data: map });
      return res;
    },
    clearFilters() {
      this.searchFirstReviewDate = null;
      this.selectedDistrict = null;
      this.selectedCompany = null;
      this.selectedRegion = null;
      this.searchAddress = "";
      this.selectedType = null;
      this.selectedState = null;
      this.searchSquare = "";
      this.searchProtocolNumber = "";
      this.searchOwner = "";
      this.searchCadastralNumber = "";
      this.selectedPeriod = null;
      this.searchActualUser = "";
      this.searchReviewCount = "";
      this.searchIsIndustrialZone = null;
    },
    selectAllHandler() {
      this.filtered.forEach((item) => {
        item.isSelected = true;
      });
    },
    deselectAllHandler() {
      this.filtered.forEach((item) => {
        item.isSelected = false;
      });
    },
    async submitForm(value) {
      let body = {
        delete: [],
        create: [],
        update: { ids: [], items: [] },
      };
      if (Array.isArray(value)) {
        value.forEach((element) => {
          let item = {
            id: element.id,
            status: this.statusList.statusList.find(
              (status) => status.label === element.status
            ).key,
            address: element.address,
            square: Number(element.square),
            owner: element.owner,
            actual_user: element.actual_user,
            district: this.districtList.districtList.find(
              (district) => district.label === element.district
            ),
            region: this.regionList.regionList.find(
              (region) => region.label === element.region
            ),
            type: this.typeList.typeList.find(
              (type) => type.label === element.type
            ).key,
            company: element.company
              ? this.companyList.companyList.find((company) => {
                  if (company.label === element.company) return company.key;
                })
              : null,
            state: element.state
              ? this.stateList.stateList.find((state) => {
                  if (state.label === element.state) return state.key;
                })
              : null,
            cadastral_number: element.cadastral_number,
            is_industrial_zone: this.booleanOptions.find((option) => {
              if (option.label === element.is_industrial_zone)
                return Boolean(option.key);
            }),
            protocol_number: element.protocol_number,
          };
          item.district = item.district.key;
          item.region = item.region.key;
          if (item.id) {
            body.update.ids.push(item.id);
            body.update.items.push(item);
          } else {
            body.create.push(item);
          }
        });
      } else {
        const item = {
          status: value.status.key,
          address: value.address,
          square: value.square,
          owner: value.owner,
          actual_user: value.actual_user,
          district: value.district.key,
          region: value.region.key,
          type: value.type.key,
        };
        body.create.push(item);
      }

      await sendDataToServer(
        `${
          import.meta.env.VITE_API_URL
        }/real_estate_accounting/estate-object-list/createOrUpdateOrDelete/`,
        this.userList.token,
        body
      );
      this.estateObjectList.estateObjectList = await fetchData(
        `${
          import.meta.env.VITE_API_URL
        }/real_estate_accounting/estate-object-list/`,
        this.userList.token
      );
      alert(`Сохранено`);
      this.showAddModal = false;
    },
    async submitMeetingForm(value) {
      let values = [];
      if (this.searchFirstReviewDate) {
        values.push(this.searchFirstReviewDate);
      }

      if (this.selectedDistrict) {
        values.push(this.selectedDistrict.label);
      }

      if (this.selectedCompany) {
        values.push(this.selectedCompany.label);
      }

      if (this.selectedRegion) {
        values.push(this.selectedRegion.label);
      }

      if (this.searchAddress) {
        values.push(this.searchAddress);
      }

      if (this.selectedType) {
        values.push(this.selectedType.label);
      }

      if (this.selectedState) {
        values.push(this.selectedState.label);
      }

      if (this.searchSquare) {
        values.push(this.searchSquare);
      }

      if (this.searchProtocolNumber) {
        values.push(this.searchProtocolNumber);
      }

      if (this.searchOwner) {
        values.push(this.searchOwner);
      }

      if (this.searchCadastralNumber) {
        values.push(this.searchCadastralNumber);
      }

      if (this.selectedPeriod) {
        values.push(this.selectedPeriod.label);
      }

      if (this.searchActualUser) {
        values.push(this.searchActualUser);
      }

      if (this.searchReviewCount) {
        values.push(this.searchReviewCount);
      }

      if (this.searchIsIndustrialZone) {
        values.push(this.searchIsIndustrialZone.label);
      }
      const item = {
        title: `Совещание по объектам удовлетворяющих фильтрам: ${values.join(
          " "
        )}`,
        url: value.url,
        start: value.start.toLocaleString("sv-SE"),
        json: Object.fromEntries(this.agentaData),
      };
      const response = await sendDataToServer(
        `${
          import.meta.env.VITE_API_URL
        }/real_estate_accounting/meeting-list/createOrUpdate/`,
        this.userList.token,
        item
      );
      this.meetingList.meetingList.push(response.data);
      alert(`Сохранено`);
      this.showAgendaModal = false;
    },
  },
};
</script>
