<template>
  <div class="flex gap-2 w-full">
    <div class="text-black flex gap-2" v-for="url in urls" :key="url">
      <RouterLink :to="{ name: url.name }">
        {{ url.label }}
      </RouterLink>
      /
    </div>
  </div>
</template>

<script>
export default {
  props: {
    urls: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
