<template>
  <div class="slider" :class="{ 'h-[300px]': mobile, 'h-[500px]': !mobile }">
    <transition-group tag="div" name="list" class="slides-group">
      <img
        v-for="picture in slides"
        :key="picture"
        :src="picture"
        alt=""
        class="image"
        :class="{ 'max-w-[300px]': mobile, 'max-w-[600px]': !mobile }"
      />
    </transition-group>
    <div
      class="btn btn-prev"
      :class="{ 'w-[24px] h-[24px]': mobile, 'w-[48px] h-[48px]': !mobile }"
      aria-label="Следущий слайд"
      @click="previous"
    >
      &#10094;
    </div>
    <div
      class="btn btn-next"
      :class="{ 'w-[24px] h-[24px]': mobile, 'w-[48px] h-[48px]': !mobile }"
      aria-label="Предыдущий слайд"
      @click="next"
    >
      &#10095;
    </div>
  </div>
</template>

<script>
export default {
  props: {
    mobile: {
      type: Boolean,
      default: false,
    },
    pictures: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      slides: Array.from(this.pictures),
      current: 0,
      direction: 1,
      show: false,
    };
  },
  mounted() {
    this.show = true;
  },
  created() {
    this.interval = setInterval(() => this.next(), 5000);
  },
  methods: {
    previous() {
      const lastSlide = this.slides.pop();
      this.slides = [lastSlide].concat(this.slides);
    },
    next() {
      const firstPicture = this.slides.shift();
      this.slides = this.slides.concat(firstPicture);
    },
  },
};
</script>

<style scoped>
.image {
  @apply pointer-events-none z-20;
}

.image:first-child {
  @apply z-10;
}

.image:last-child {
  @apply z-10;
}

.slider {
  @apply w-full relative flex;
}
.slides-group {
  @apply w-full absolute flex justify-center overflow-hidden;
}

.btn {
  @apply z-30 cursor-pointer border-4 border-solid border-accent-color flex justify-center items-center absolute top-[30%] transition select-none text-accent-color;
}

.btn-prev {
  left: 1%;
  right: auto;
}
.btn-next {
  left: auto;
  right: 1%;
}

.btn:hover {
  transform: scale(1.1);
}

.list-move,
.list-leave-active {
  transition: all 0.5s ease-in-out;
}
</style>
