<template>
  <div
    type="checkbox"
    class="border-[1px] border-accent-color border-opacity-[39%] rounded-full bg-white flex justify-center items-center"
    @click="$emit('selected')"
  >
    <div
      class="rounded-full w-[50%] h-[50%]"
      :class="{ 'bg-accent-color': isSelected }"
    />
  </div>
</template>

<script>
export default {
  props: {
    isSelected: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["selected"],
};
</script>
