<template>
  <div>
    <label class="label-date" :for="name" v-if="label">{{ label }}</label>
    <Datepicker
      :placeholder="placeholder"
      :enableTimePicker="true"
      selectText="Выбрать"
      cancelText="Отменить"
      locale="ru-RU"
      v-model="inputValue"
      @blur="handleBlur"
      class="style-datepicker"
      :class="{ 'has-error': !!errorMessage, success: meta.valid }"
    />
  </div>
</template>
<script setup>
import { useField } from "vee-validate";
import { toRef } from "vue";

const props = defineProps({
  value: {
    type: [String, Date],
    default: "",
  },
  name: {
    type: String,
    required: true,
  },
  label: {
    type: String,
    required: false,
  },
  placeholder: {
    type: String,
    default: "",
  },
});

// use `toRef` to create reactive references to `name` prop which is passed to `useField`
// this is important because vee-validte needs to know if the field name changes
// https://vee-validate.logaretm.com/v4/guide/composition-api/caveats
const name = toRef(props, "name");

// we don't provide any rules here because we are using form-level validation
// https://vee-validate.logaretm.com/v4/guide/validation#form-level-validation
const {
  value: inputValue,
  errorMessage,
  handleBlur,
  meta,
} = useField(name, undefined, {
  initialValue: props.value,
});
</script>

<script>
import Datepicker from "@vuepic/vue-datepicker";
export default {
  components: {
    Datepicker,
  },
};
</script>

<style scoped>
.label-date {
  @apply block mb-2 w-full;
}
</style>
