<template>
  <div class="flex relative items-center">
    <input
      class="light-border w-full"
      :placeholder="placeholder"
      type="text"
      :value="value"
      @input="handleInput"
    />
    <button
      type="button"
      class="absolute right-[10px] opacity-25 hover:opacity-75"
      @click="clearSearch"
    >
      <i class="fa fa-times" />
    </button>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: "",
    },
    placeholder: {
      type: String,
      default: "",
    },
  },
  emits: ["changed", "clear"],
  methods: {
    handleInput(e) {
      this.$emit("changed", e);
    },
    clearSearch() {
      this.$emit("clear");
    },
  },
};
</script>
