<template>
  <div class="flex justify-center">
    <div class="fixed z-40 bg-bg-color" v-if="open">
      <div class="flex flex-col gap-2 box-shadow-light">
        <div><slot name="body"></slot></div>
        <ButtonIcon
          class="absolute right-[48px] top-[24px]"
          @click="$emit('close')"
        >
          <IconClose />
        </ButtonIcon>
      </div>
    </div>
  </div>
</template>

<script>
import IconClose from "../icons/IconClose.vue";
import ButtonIcon from "./ButtonIcon.vue";
export default {
  components: {
    ButtonIcon,
    IconClose,
  },
  emits: ["close"],
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
};
</script>
