<template>
  <div class="bg-white">
    <div class="mx-auto max-w-[1424px]">
      <div
        class="sticky top-0 h-[104px] z-50 flex justify-center items-center mx-[24px]"
      >
        <div class="flex justify-between items-center w-full">
          <RouterLink class="flex gap-[42px] items-center" to="/">
            <IconLogo class="w-[54px] h-[48px] ml-[8px]" />
            <div class="h2">Учет объектов недвижимости</div>
          </RouterLink>
          <IconUser />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IconLogo from "../icons/IconLogo.vue";
import IconUser from "../icons/IconUser.vue";
export default {
  name: "NavBar",
  components: {
    IconLogo,
    IconUser,
  },
  data() {
    return {
      isOpen: false,
    };
  },
};
</script>
