<template>
  <div>
    <label :for="name">{{ label }}</label>
    <v-select
      :name="name"
      :id="name"
      :placeholder="placeholder"
      :options="paginated"
      :filterable="false"
      @open="onOpen"
      @close="onClose"
      @search="(query) => (searchValue = query)"
      v-model="selected"
      @search:blur="handleBlur"
      @option:selected="$emit('option:selected', selected)"
      class="style-chooser"
      :class="{
        'has-error': !!errorMessage,
        success: meta.valid,
      }"
      :disabled="disabled"
    >
      <template v-slot:no-options="{ search, searching }">
        <template v-if="searching">
          Не найдено <em>{{ search }}</em
          >.
        </template>
        <em v-else style="opacity: 0.5">Начните писать название.</em>
      </template>
      <template #list-footer>
        <li v-show="hasNextPage" ref="load" class="loader">
          Загрузка опций...
        </li>
      </template>
    </v-select>
  </div>
</template>

<script setup>
import { useField } from "vee-validate";
import { toRef } from "vue";

const props = defineProps({
  options: { type: Array, default: "" },
  value: {
    type: [Object, String],
    default: undefined,
  },
  name: {
    type: String,
    required: true,
  },
  label: {
    type: String,
    required: false,
  },
  placeholder: {
    type: String,
    default: "",
  },
  disabled: {
    type: Boolean,
    default: false,
  },
});

// use `toRef` to create reactive references to `name` prop which is passed to `useField`
// this is important because vee-validte needs to know if the field name changes
// https://vee-validate.logaretm.com/v4/guide/composition-api/caveats
const name = toRef(props, "name");

// we don't provide any rules here because we are using form-level validation
// https://vee-validate.logaretm.com/v4/guide/validation#form-level-validation
const {
  value: selected,
  errorMessage,
  handleBlur,
  meta,
} = useField(name, undefined, {
  initialValue: props.value,
});
</script>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
export default {
  name: "PaginatedSelectorWithValidation",
  components: {
    vSelect,
  },
  data() {
    return {
      searchValue: "",
      offset: 0,
      limit: 20,
    };
  },
  emits: ["option:selected"],
  computed: {
    search() {
      return this.searchValue.toLowerCase();
    },
    filtered() {
      return this.options.filter((option) =>
        option.label.toLowerCase().includes(this.search)
      );
    },
    paginated() {
      return this.filtered.slice(0, this.limit);
    },
    hasNextPage() {
      return this.paginated.length < this.filtered.length;
    },
  },
  mounted() {
    this.observer = new IntersectionObserver(this.infiniteScroll);
  },
  methods: {
    async onOpen() {
      if (this.hasNextPage) {
        await this.$nextTick();
        this.observer.observe(this.$refs.load);
      }
    },
    onClose() {
      this.observer.disconnect();
    },
    async infiniteScroll([{ isIntersecting, target }]) {
      if (isIntersecting) {
        const ul = target.offsetParent;
        const scrollTop = target.offsetParent.scrollTop;
        this.limit += 10;
        await this.$nextTick();
        ul.scrollTop = scrollTop;
      }
    },
  },
};
</script>

<style scoped>
.loader {
  @apply text-center text-[#bbbbbb];
}

label {
  @apply block mb-2 w-full;
}
</style>
