<template>
  <div>
    <label :for="name">{{ label }}</label>
    <v-select
      :options="paginated"
      :filterable="false"
      :placeholder="placeholder"
      :multiple="multiple"
      @open="onOpen"
      @close="onClose"
      @search="(query) => (search = query)"
      v-model="dataValue"
      @option:selected="selectedValue"
      @option:deselecting="deselectedValue"
      class="style-chooser"
    >
      <template v-slot:no-options="{ search, searching }">
        <template v-if="searching">
          Не найдено <em>{{ search }}</em
          >.
        </template>
        <em v-else style="opacity: 0.5">Начните писать название.</em>
      </template>
      <template #list-footer>
        <li v-show="hasNextPage" ref="load" class="loader">
          Загрузка опций...
        </li>
      </template>
    </v-select>
  </div>
</template>

<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
export default {
  name: "PaginatedSelector",
  components: {
    vSelect,
  },
  data() {
    return {
      dataValue: this.value,
      search: "",
      offset: 0,
      limit: 20,
    };
  },
  props: {
    options: { type: Array, default: () => [] },
    value: {
      type: [Object, String, Array],
      default: "",
    },
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
    },
    placeholder: {
      type: String,
      default: "",
    },
    multiple: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["changed", "deselecting"],
  watch: {
    dataValue: {
      deep: false,
      handler: function () {
        if (this.dataValue === null) this.$emit("changed", null);
      },
    },
    value: {
      deep: false,
      handler: function () {
        if (this.value === null) this.dataValue = null;
      },
    },
  },
  computed: {
    filtered() {
      return this.options.filter((option) =>
        option.label.toLowerCase().includes(this.search.toLowerCase())
      );
    },
    paginated() {
      return this.filtered.slice(0, this.limit);
    },
    hasNextPage() {
      return this.paginated.length < this.filtered.length;
    },
  },
  mounted() {
    this.observer = new IntersectionObserver(this.infiniteScroll);
  },
  methods: {
    selectedValue(e) {
      this.$emit("changed", e);
    },
    deselectedValue(e) {
      this.$emit("deselecting", e);
    },
    async onOpen() {
      if (this.hasNextPage) {
        await this.$nextTick();
        this.observer.observe(this.$refs.load);
      }
    },
    onClose() {
      this.observer.disconnect();
    },
    async infiniteScroll([{ isIntersecting, target }]) {
      if (isIntersecting) {
        const ul = target.offsetParent;
        const scrollTop = target.offsetParent.scrollTop;
        this.limit += 10;
        await this.$nextTick();
        ul.scrollTop = scrollTop;
      }
    },
  },
};
</script>

<style scoped>
.loader {
  @apply text-center text-[#bbbbbb];
}
</style>
