<template>
  <div
    class="flex flex-col gap-4 justify-center items-center bg-white w-full p-12"
  >
    <div class="flex gap-2 items-center">
      <slot name="title"></slot>
    </div>

    <div class="flex flex-col gap-6">
      <slot name="body"></slot>
    </div>
  </div>
</template>
