<template>
  <button @click="handleClick" class="flex gap-[8px]">
    {{ label }}
    <IconCaretUp v-if="direction" />
    <IconCaretDown
      :class="{
        'opacity-[39%]': sortValue === null,
      }"
      v-else
    />
  </button>
</template>

<script>
import IconCaretDown from "../icons/IconCaretDown.vue";
import IconCaretUp from "../icons/IconCaretUp.vue";
export default {
  name: "SortLabel",
  components: {
    IconCaretUp,
    IconCaretDown,
  },
  props: {
    label: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      direction: false,
      sortValue: null,
    };
  },
  emits: ["sort"],
  methods: {
    handleClick() {
      switch (this.sortValue) {
        case null: {
          this.sortValue = "desc";
          break;
        }
        case "desc": {
          this.direction = !this.direction;
          this.sortValue = "asc";
          break;
        }
        case "asc": {
          this.direction = !this.direction;
          this.sortValue = null;
          break;
        }
      }
      this.$emit("sort", this.sortValue);
    },
  },
};
</script>
