<script setup lang="ts">
import { useField } from "vee-validate";
import { toRef } from "vue";

const props = defineProps({
  type: {
    type: String,
    default: "text",
  },
  value: {
    type: [String, Number],
    default: "",
  },
  name: {
    type: String,
    required: true,
  },
  label: {
    type: String,
    required: false,
  },
  placeholder: {
    type: String,
    default: "",
  },
  disabled: {
    type: Boolean,
    default: false,
  },
});

// use `toRef` to create reactive references to `name` prop which is passed to `useField`
// this is important because vee-validte needs to know if the field name changes
// https://vee-validate.logaretm.com/v4/guide/composition-api/caveats
const name = toRef(props, "name");

// we don't provide any rules here because we are using form-level validation
// https://vee-validate.logaretm.com/v4/guide/validation#form-level-validation
const {
  value: value,
  errorMessage,
  handleBlur,
  handleChange,
  meta,
} = useField(name, undefined, {
  initialValue: props.value,
});
</script>

<template>
  <div
    class="TextInput"
    :class="{ 'has-error': !!errorMessage, success: meta.valid }"
  >
    <label :for="name">{{ label }}</label>
    <input
      :name="name"
      :id="name"
      :type="type"
      v-model="value"
      :placeholder="placeholder"
      @input="handleChange"
      @blur="handleBlur"
      :disabled="disabled"
    />
  </div>
</template>

<style scoped>
.TextInput {
  @apply mb-2 w-full;
}

label {
  @apply block mb-2 w-full;
}

input {
  @apply bg-[#f2f5f7] px-[8px] py-1 border-2 border-solid border-transparent transition ease-in-out duration-300 w-full rounded-md;
}

.TextInput {
  @apply mb-2 w-full;
}

.TextInput input::placeholder {
  @apply opacity-70;
}

.TextInput input:focus {
  @apply border-accent-color;
}

.TextInput.success input {
  @apply bg-green-300;
}

.TextInput.success input {
  @apply text-green-600;
}

.TextInput.success input:focus {
  @apply border-green-600;
}

.TextInput.has-error input {
  @apply bg-red-300;
}

.TextInput.has-error input {
  @apply text-red-600;
}

.TextInput.has-error input:focus {
  @apply border-red-600;
}
</style>
