<template>
  <div
    class="grid grid-cols-12 bg-white min-h-[80px] items-center light-border"
  >
    <div class="col-span-3">{{ item.type.label }}</div>
    <div class="col-span-3">{{ item.status.label }}</div>
    <div class="col-span-3">{{ item.executor.label }}</div>
    <div class="col-span-2">{{ new Date(item.date).toLocaleDateString() }}</div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>
