@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 
  html {
    @apply text-black font-inter font-normal text-[24px] text-center bg-bg-color leading-[29px];
  }


  .h2 {
    @apply text-[24px] font-bold ;
  }

  .h3 {
    @apply text-[24px] font-bold;
  }

  .p {
    @apply font-normal text-[24px];
  }

  .box-shadow-light {
    @apply shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)];
  }

  .button {
    @apply text-[20px] leading-[24px] py-[8px] px-[24px] hover:box-shadow-light;
  }

  .button-secondary {
    @apply  active:bg-accent-color active:text-white 
  }

  .button-primary {
    @apply  bg-accent-color text-white  active:bg-white active:text-black 
  }
  
  .light-border {
    @apply rounded-[4px] border-[1px] border-accent-color border-opacity-[39%];
  }

  .shadow-light {
    @apply drop-shadow-[0_0px_10px_rgba(117,104,192,0.39)];
  }

  .style-chooser .vs__search {
    @apply bg-inherit;
  }
  .style-chooser .vs__open-indicator {
    @apply bg-inherit;
  }
  .style-chooser .vs__clear {
    @apply bg-inherit;
  }
  .style-chooser {
    @apply mb-2 w-full;
  }
  
  .style-chooser .vs__search::placeholder {
    @apply opacity-30;
  }
  .style-chooser .vs__dropdown-toggle {
    @apply bg-[#f2f5f7] border-2 border-solid border-transparent transition ease-in-out duration-300;
  }
  
  .style-chooser.vs--open .vs__dropdown-toggle {
    @apply light-border;
  }
  
  .style-chooser.success .vs__dropdown-toggle {
    @apply bg-green-300;
  }
  
  .style-chooser.success .vs__selected {
    @apply text-green-600;
  }
  
  .style-chooser.vs--open.success .vs__dropdown-toggle {
    @apply bg-green-600;
  }
  
  .style-chooser.has-error .vs__dropdown-toggle {
    @apply bg-red-300;
  }
  
  .style-chooser.has-error .vs__selected {
    @apply text-red-600;
  }
  
  .style-chooser.vs--open.has-error .vs__dropdown-toggle {
    @apply border-red-600;
  }

  .style-datepicker {
    @apply mb-2 w-full;
  }
  .dp__input {
    @apply bg-[#f2f5f7] py-1 border-2 border-solid border-transparent transition ease-in-out duration-300 w-full rounded-md;
  }
  
  .style-datepicker {
    @apply mb-2 w-full;
  }
  
  .style-datepicker .dp__input::placeholder {
    @apply opacity-70;
  }
  
  .style-datepicker .dp__input:focus {
    @apply border-accent-color;
  }
  
  .style-datepicker.success .dp__input {
    @apply bg-green-300;
  }
  
  .style-datepicker.dp__input.success {
    @apply text-green-600;
  }
  
  .style-datepicker.success .dp__input:focus {
    @apply border-green-600;
  }
  
  .style-datepicker.has-error .dp__input {
    @apply bg-red-300;
  }
  
  .style-datepicker.has-error .dp__input {
    @apply text-red-600;
  }
  
  .style-datepicker.has-error .dp__input:focus {
    @apply border-red-600;
  }
}
