<template>
  <div class="bg-white flex shadow-light">
    <div class="grid grid-cols-12 items-center">
      <div class="col-span-3"><slot name="search"></slot></div>
      <ButtonBase
        class="h-[56px] mr-[16px] col-span-2 button-secondary"
        @click="$emit('selectAll')"
      >
        Выделить все
      </ButtonBase>
      <ButtonBase
        class="h-[56px] col-span-2 button-secondary"
        @click="$emit('deselectAll')"
      >
        Снять выделение
      </ButtonBase>
      <div class="col-span-4 justify-center flex gap-[48px]">
        <slot name="ModalWindow"></slot>
      </div>
      <DownloadExcel
        :data="selected"
        :fields="fields"
        name="excel.xls"
        class="w-[40px] h-[40px] m-auto cursor-pointer"
      >
        <IconDownload />
      </DownloadExcel>
    </div>
  </div>
</template>

<script>
import JsonExcel from "vue-json-excel3";
import ButtonBase from "../base/ButtonBase.vue";
import IconDownload from "../icons/IconDownload.vue";

export default {
  components: {
    ButtonBase,
    IconDownload,
    DownloadExcel: JsonExcel,
  },
  props: {
    selected: {
      type: Array,
      required: true,
    },
  },
  emits: ["selectAll", "deselectAll"],
  data() {
    return {
      value: "",
      fields: {
        Адрес: "address",
        Округ: "district.label",
        Район: "region.label",
        Тип: "type.label",
        Площадь: "square",
        Собственник: "owner",
        "Фактический пользователь": "actual_user",
        "Кто добавил": "user.label",
        Статус: "status.label",
        "Кадастровый номер": "cadastral_number",
        "Находится в промзоне": "is_industrial_zone",
        "Номер протокола": "protocol_number",
        "Компания исполнитель": "company.label",
        Состояние: "state.label",
      },
    };
  },
};
</script>
