<template>
  <div>
    <div v-for="event in events" :key="event.id">
      <div class="event">
        <h3 class="event-title">{{ event.name }}</h3>
        <p class="event-date">{{ new Date(event.date).toLocaleString() }}</p>
        <p class="event-description">{{ event.label }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    events: {
      type: Array,
      required: true,
    },
  },
};
</script>
