<template>
  <div>
    <div
      class="light-border bg-white p-[16px]"
      v-for="(item, index) in data"
      :key="index"
    >
      <div>{{ item.label }}</div>
      <div v-if="item.data.size > 0">
        <canvas :id="'chart-' + index" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from "chart.js/auto";
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
  mounted() {
    this.createCharts();
  },
  methods: {
    getRandomColorsArray(length, alpha) {
      const letters = "0123456789ABCDEF";
      const colors = [];
      for (let i = 0; i < length; i++) {
        let color = "rgba(";
        for (let j = 0; j < 3; j++) {
          color += parseInt(
            letters[Math.floor(Math.random() * 16)] +
              letters[Math.floor(Math.random() * 16)],
            16
          );
          if (j < 2) {
            color += ",";
          }
        }
        color += `,${alpha})`;
        colors.push(color);
      }
      return colors;
    },
    createCharts() {
      this.data.forEach((item, index) => {
        const ctx = document.getElementById(`chart-${index}`).getContext("2d");
        const colors = this.getRandomColorsArray(item.data.size, 0.2);
        const borderColor = this.getRandomColorsArray(item.data.size, 1);
        const chartData = {
          labels: [...item.data.keys()],
          datasets: [
            {
              data: [...item.data.values()],
              backgroundColor: colors,
              borderColor: borderColor,
              borderWidth: 1,
            },
          ],
        };
        new Chart(ctx, {
          type: "pie",
          data: chartData,
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                position: "right",
              },
            },
          },
        });
      });
    },
  },
});
</script>
