<template>
  <div
    class="grid grid-cols-11 bg-white min-h-[80px] items-center light-border"
  >
    <div class="col-span-1">{{ item.key }}</div>
    <div class="col-span-6">{{ item.address }}</div>
    <div class="col-span-2">
      <span v-if="item.state">{{ item.state.label }}</span>
    </div>
    <div class="col-span-2">{{ item.status.label }}</div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>
