<template>
  <svg viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M5.22219 3.11267H40.7774C42.0047 3.11267 42.9996 4.12316 42.9996 5.36975L43 8.94952C43.0002 9.54836 42.766 10.1227 42.3491 10.5461L28.0949 25.0252C27.6782 25.4484 27.444 26.0227 27.444 26.6214V40.8541C27.444 42.3227 26.0854 43.4004 24.683 43.0442L20.2386 41.9155C19.2493 41.6642 18.5553 40.7613 18.5553 39.7254V26.6214C18.5553 26.0227 18.3212 25.4484 17.9044 25.0252L3.65086 10.5459C3.23411 10.1226 3 9.54843 3 8.94975V5.37004C3 4.12334 3.99489 3.11267 5.22219 3.11267Z"
      stroke="#7568C0"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
