<template>
  <svg
    width="46"
    height="46"
    viewBox="0 0 46 46"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3 3V38.5556C3 39.7343 3.46825 40.8648 4.30175 41.6983C5.13524 42.5317 6.2657 43 7.44444 43H43"
      stroke="#7568C0"
      stroke-width="5"
      stroke-miterlimit="5.759"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M11.8889 27.4444L20.7778 18.5556L29.6667 27.4444L43 14.1111"
      stroke="#7568C0"
      stroke-width="5"
      stroke-miterlimit="5.759"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M36.3334 14.1111H43V20.7778"
      stroke="#7568C0"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
