<template>
  <svg
    width="48"
    height="48"
    viewBox="0 0 48 48"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M24 0C19.2533 0 14.6131 1.40757 10.6663 4.04473C6.71954 6.68188 3.6434 10.4302 1.8269 14.8156C0.0103985 19.201 -0.464881 24.0266 0.461164 28.6822C1.38721 33.3377 3.67299 37.6141 7.02945 40.9706C10.3859 44.327 14.6623 46.6128 19.3178 47.5388C23.9734 48.4649 28.799 47.9896 33.1844 46.1731C37.5698 44.3566 41.3181 41.2805 43.9553 37.3337C46.5924 33.3869 48 28.7467 48 24C47.9925 17.6371 45.4616 11.5369 40.9623 7.03769C36.4631 2.53844 30.3629 0.00747259 24 0ZM10.6918 40.4706C12.0725 38.1747 14.0236 36.2751 16.3556 34.9563C18.6875 33.6376 21.321 32.9445 24 32.9445C26.679 32.9445 29.3125 33.6376 31.6445 34.9563C33.9764 36.2751 35.9276 38.1747 37.3082 40.4706C33.5444 43.5227 28.8458 45.1883 24 45.1883C19.1542 45.1883 14.4556 43.5227 10.6918 40.4706ZM16 22.1176C16 20.5354 16.4692 18.9887 17.3482 17.6731C18.2273 16.3575 19.4767 15.3321 20.9385 14.7266C22.4003 14.1211 24.0089 13.9627 25.5607 14.2714C27.1126 14.58 28.538 15.342 29.6569 16.4608C30.7757 17.5796 31.5376 19.0051 31.8463 20.5569C32.155 22.1088 31.9965 23.7173 31.391 25.1791C30.7855 26.6409 29.7602 27.8903 28.4446 28.7694C27.129 29.6484 25.5823 30.1176 24 30.1176C21.8783 30.1176 19.8434 29.2748 18.3432 27.7745C16.8429 26.2742 16 24.2394 16 22.1176ZM39.4141 38.5035C37.1959 35.0544 33.8803 32.4534 30.0024 31.12C31.9361 29.832 33.404 27.956 34.1892 25.7693C34.9743 23.5826 35.0349 21.2013 34.3621 18.9774C33.6893 16.7536 32.3188 14.8053 30.4531 13.4206C28.5875 12.0358 26.3257 11.2882 24.0024 11.2882C21.679 11.2882 19.4173 12.0358 17.5516 13.4206C15.6859 14.8053 14.3154 16.7536 13.6426 18.9774C12.9698 21.2013 13.0304 23.5826 13.8156 25.7693C14.6007 27.956 16.0686 29.832 18.0024 31.12C14.1244 32.4534 10.8088 35.0544 8.5906 38.5035C5.7549 35.4943 3.86219 31.7208 3.14599 27.6485C2.42979 23.5762 2.92143 19.3833 4.56026 15.5871C6.19909 11.791 8.9134 8.55763 12.3683 6.28603C15.8232 4.01443 19.8676 2.80396 24.0024 2.80396C28.1372 2.80396 32.1815 4.01443 35.6364 6.28603C39.0913 8.55763 41.8056 11.791 43.4445 15.5871C45.0833 19.3833 45.5749 23.5762 44.8587 27.6485C44.1425 31.7208 42.2498 35.4943 39.4141 38.5035Z"
      fill="#7568C0"
    />
  </svg>
</template>
