<template>
  <svg
    width="148"
    height="148"
    viewBox="0 0 148 148"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M39.9167 123.05C30.5639 123.05 22.5719 119.812 15.9407 113.337C9.30945 106.862 5.99589 98.9486 6 89.5958C6 81.5792 8.41528 74.4361 13.2458 68.1667C18.0764 61.8972 24.3972 57.8889 32.2083 56.1417C33.9556 48.7417 38.3236 41.7014 45.3125 35.0208C52.3014 28.3403 59.7528 25 67.6667 25C71.0583 25 73.9628 26.2087 76.3802 28.626C78.7975 31.0433 80.0041 33.9458 80 37.3333V74.6417L85.55 69.2458C86.6806 68.1153 88.0948 67.55 89.7927 67.55C91.4906 67.55 92.9541 68.1667 94.1833 69.4C95.3139 70.5306 95.8792 71.9694 95.8792 73.7167C95.8792 75.4639 95.3139 76.9028 94.1833 78.0333L78.15 94.0667C77.5333 94.6833 76.8653 95.1212 76.1458 95.3802C75.4264 95.6392 74.6556 95.7666 73.8333 95.7625C73.0111 95.7625 72.2403 95.6351 71.5208 95.3802C70.8014 95.1253 70.1333 94.6874 69.5167 94.0667L53.4833 78.0333C52.3528 76.9028 51.7628 75.4906 51.7135 73.7968C51.6642 72.1031 52.2541 70.6374 53.4833 69.4C54.6139 68.2694 56.0281 67.6774 57.726 67.624C59.4239 67.5706 60.8875 68.1112 62.1167 69.2458L67.6667 74.6417V37.3333C59.8556 38.7722 53.7917 42.5503 49.475 48.6677C45.1583 54.785 43 61.0791 43 67.55H39.9167C33.9556 67.55 28.8681 69.6569 24.6542 73.8708C20.4403 78.0847 18.3333 83.1722 18.3333 89.1333C18.3333 95.0944 20.4403 100.182 24.6542 104.396C28.8681 108.61 33.9556 110.717 39.9167 110.717H113.917C118.233 110.717 121.882 109.226 124.862 106.246C127.843 103.265 129.333 99.6167 129.333 95.3C129.333 90.9833 127.843 87.3347 124.862 84.3542C121.882 81.3736 118.233 79.8833 113.917 79.8833H104.667V67.55C104.667 62.6167 103.536 58.0163 101.275 53.749C99.0139 49.4817 96.0333 45.8598 92.3333 42.8833V28.5458C99.9389 32.1431 105.951 37.4628 110.371 44.5052C114.79 51.5475 117 59.2291 117 67.55C124.092 68.3722 129.977 71.4309 134.655 76.726C139.334 82.0211 141.671 88.2124 141.667 95.3C141.667 103.008 138.968 109.561 133.57 114.959C128.172 120.357 121.621 123.054 113.917 123.05H39.9167Z"
      fill="#7568C0"
    />
  </svg>
</template>
