<template>
  <svg
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M28.9091 31.4993L18.7273 21.303C17.8182 22.0313 16.7727 22.6079 15.5909 23.0327C14.4091 23.4576 13.1515 23.67 11.8182 23.67C8.51515 23.67 5.72 22.5241 3.43273 20.2324C1.14545 17.9406 0.00121212 15.1415 0 11.835C0 8.52726 1.14424 5.72814 3.43273 3.43761C5.72121 1.14708 8.51636 0.00121385 11.8182 0C15.1212 0 17.9164 1.14587 20.2036 3.43761C22.4909 5.72935 23.6352 8.52848 23.6364 11.835C23.6364 13.1702 23.4242 14.4296 23 15.6131C22.5758 16.7966 22 17.8435 21.2727 18.7539L31.5 28.9957C31.8333 29.3295 32 29.7392 32 30.2247C32 30.7103 31.8182 31.1351 31.4545 31.4993C31.1212 31.8331 30.697 32 30.1818 32C29.6667 32 29.2424 31.8331 28.9091 31.4993ZM11.8182 20.0284C14.0909 20.0284 16.023 19.2316 17.6145 17.6378C19.2061 16.044 20.0012 14.1097 20 11.835C20 9.55903 19.2042 7.62416 17.6127 6.03038C16.0212 4.4366 14.0897 3.64032 11.8182 3.64154C9.54545 3.64154 7.61333 4.43843 6.02182 6.0322C4.4303 7.62598 3.63515 9.56025 3.63636 11.835C3.63636 14.111 4.43212 16.0458 6.02364 17.6396C7.61515 19.2334 9.54667 20.0297 11.8182 20.0284Z"
      fill="#7568C0"
    />
  </svg>
</template>
