<template>
  <svg
    width="24"
    height="16"
    viewBox="0 0 24 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M12 0L1.6077 12L22.3923 12L12 0Z" fill="#7568C0" />
  </svg>
</template>
