<template>
  <svg
    width="24"
    height="16"
    viewBox="0 0 24 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M12 16L22.3923 4H1.6077L12 16Z" fill="#7568C0" />
  </svg>
</template>
