<template>
  <svg
    width="31"
    height="31"
    viewBox="0 0 31 31"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M29.4264 29.4264C28.854 29.9989 28.1799 30.2851 27.4041 30.2851C26.6283 30.2851 25.9555 29.9988 25.3858 29.4264L15.2843 19.3249L5.18275 29.4264C4.61033 29.9989 3.93622 30.2851 3.16043 30.2851C2.38463 30.2851 1.71187 29.9988 1.14214 29.4264C0.569723 28.854 0.283513 28.1799 0.283513 27.4041C0.283513 26.6283 0.569723 25.9555 1.14214 25.3858L11.2437 15.2843L1.14214 5.18278C0.569723 4.61036 0.283514 3.93625 0.283514 3.16046C0.283514 2.38466 0.569723 1.7119 1.14214 1.14217C1.71456 0.569754 2.38867 0.283544 3.16447 0.283544C3.94026 0.283544 4.61303 0.569752 5.18275 1.14217L15.2843 11.2437L25.3858 1.14217C25.9582 0.569754 26.6323 0.283545 27.4081 0.283545C28.1839 0.283545 28.8567 0.569752 29.4264 1.14217C29.9988 1.71459 30.285 2.3887 30.285 3.1645C30.285 3.94029 29.9988 4.61306 29.4264 5.18278L19.3249 15.2843L29.4264 25.3858C29.9988 25.9582 30.285 26.6323 30.285 27.4081C30.285 28.1839 29.9988 28.8567 29.4264 29.4264Z"
      fill="#7568C0"
    />
  </svg>
</template>
