<template>
  <svg
    width="140"
    height="90"
    viewBox="0 0 140 90"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M63.4791 2.72497C56.7684 5.33418 51.0522 9.99461 47.1449 16.0424C42.0414 14.708 36.7122 14.4763 31.5121 15.3626C26.3121 16.2488 21.3605 18.2328 16.9871 21.1823C12.6138 24.1319 8.91896 27.9793 6.14878 32.4684C3.37859 36.9575 1.59658 41.9853 0.921403 47.217C0.246231 52.4486 0.693393 57.7641 2.23311 62.8094C3.77283 67.8548 6.36977 72.5142 9.85101 76.4774C13.3322 80.4406 17.6179 83.6167 22.4226 85.7941C27.2272 87.9716 32.4407 89.1004 37.7157 89.1055H111.108C114.849 89.0665 118.545 88.2868 121.984 86.8115C125.422 85.3362 128.533 83.1944 131.139 80.5098C133.745 77.8252 135.793 74.6511 137.165 71.1706C138.537 67.6901 139.207 63.9723 139.134 60.2318C139.062 56.4913 138.249 52.8022 136.743 49.3775C135.237 45.9528 133.067 42.8604 130.359 40.2788C127.651 37.6973 124.459 35.6777 120.966 34.3367C117.474 32.9957 113.75 32.3599 110.01 32.4659C109.56 25.2798 106.854 18.419 102.277 12.8609C97.6999 7.30274 91.4856 3.33077 84.5192 1.51082C77.5529 -0.309132 70.1899 0.115762 63.4791 2.72497ZM62.8328 13.8449C66.7409 11.3896 71.2627 10.0872 75.878 10.0878C79.3414 10.0878 82.7654 10.8218 85.9245 12.2414C89.0855 13.6619 91.9094 15.7367 94.2097 18.3287C96.51 20.9208 98.2345 23.9712 99.2693 27.2786C100.304 30.5861 100.626 34.0754 100.213 37.5163C100.121 38.3011 100.222 39.0964 100.508 39.833C100.794 40.5696 101.256 41.225 101.854 41.7422C102.451 42.2593 103.166 42.6225 103.936 42.8C104.706 42.9775 105.507 42.9639 106.271 42.7605C108.835 42.0711 111.517 41.9373 114.137 42.3683C116.758 42.7992 119.256 43.7848 121.464 45.2592C123.673 46.7335 125.541 48.6626 126.943 50.9173C128.346 53.172 129.251 55.7003 129.597 58.333C129.944 60.9657 129.724 63.6421 128.953 66.183C128.181 68.7238 126.876 71.0707 125.124 73.0663C123.373 75.062 121.215 76.6604 118.795 77.7547C116.376 78.849 113.751 79.4139 111.095 79.4115H37.7157C33.684 79.4086 29.7024 78.5174 26.0541 76.8015C22.4057 75.0856 19.1802 72.5871 16.6068 69.4835C14.0333 66.3799 12.1752 62.7475 11.1645 58.8446C10.1538 54.9416 10.0153 50.8639 10.7589 46.9013C11.5024 42.9388 13.1098 39.1887 15.4668 35.9176C17.8237 32.6466 20.8723 29.935 24.3958 27.9755C27.9193 26.016 31.8313 24.8568 35.8535 24.5803C39.8757 24.3038 43.9095 24.9168 47.668 26.3757C48.8028 26.8173 50.0623 26.8153 51.1957 26.3701C52.3291 25.9249 53.2532 25.0691 53.784 23.9732C55.7863 19.8123 58.9229 16.3015 62.8328 13.8449ZM75.878 10.0878C75.8801 10.0878 75.8823 10.0878 75.8845 10.0878H75.8715C75.8737 10.0878 75.8758 10.0878 75.878 10.0878ZM95.608 29.0333C96.8062 26.856 96.0125 24.1195 93.8352 22.9212C91.6579 21.723 88.9214 22.5167 87.7231 24.694L64.5285 66.8406L46.161 53.3714C44.1569 51.9017 41.3408 52.3349 39.8711 54.3391C38.4014 56.3433 38.8347 59.1594 40.8388 60.629L63.3389 77.1288C64.3831 77.8946 65.7066 78.1734 66.9709 77.894C68.2353 77.6146 69.3181 76.8041 69.9424 75.6696L95.608 29.0333Z"
      fill="#7568C0"
    />
  </svg>
</template>
