<template>
  <svg viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M20 29.0502C19.6667 29.0502 19.3542 28.9985 19.0625 28.8952C18.7708 28.7918 18.5 28.6143 18.25 28.3627L9.25 19.3627C8.79167 18.9043 8.5625 18.321 8.5625 17.6127C8.5625 16.9043 8.79167 16.321 9.25 15.8627C9.70833 15.4043 10.3025 15.1652 11.0325 15.1452C11.7625 15.1252 12.3558 15.3435 12.8125 15.8002L17.5 20.4877V2.61268C17.5 1.90435 17.74 1.31018 18.22 0.83018C18.7 0.35018 19.2933 0.111013 20 0.11268C20.7083 0.11268 21.3025 0.35268 21.7825 0.83268C22.2625 1.31268 22.5017 1.90601 22.5 2.61268V20.4877L27.1875 15.8002C27.6458 15.3418 28.24 15.1227 28.97 15.1427C29.7 15.1627 30.2933 15.4027 30.75 15.8627C31.2083 16.321 31.4375 16.9043 31.4375 17.6127C31.4375 18.321 31.2083 18.9043 30.75 19.3627L21.75 28.3627C21.5 28.6127 21.2292 28.7902 20.9375 28.8952C20.6458 29.0002 20.3333 29.0518 20 29.0502ZM5 40.1127C3.625 40.1127 2.4475 39.6227 1.4675 38.6427C0.487504 37.6627 -0.00166242 36.486 4.24448e-06 35.1127V30.1127C4.24448e-06 29.4043 0.240004 28.8102 0.720004 28.3302C1.2 27.8502 1.79334 27.611 2.5 27.6127C3.20834 27.6127 3.8025 27.8527 4.2825 28.3327C4.7625 28.8127 5.00167 29.406 5 30.1127V35.1127H35V30.1127C35 29.4043 35.24 28.8102 35.72 28.3302C36.2 27.8502 36.7933 27.611 37.5 27.6127C38.2083 27.6127 38.8025 27.8527 39.2825 28.3327C39.7625 28.8127 40.0017 29.406 40 30.1127V35.1127C40 36.4877 39.51 37.6652 38.53 38.6452C37.55 39.6252 36.3733 40.1143 35 40.1127H5Z"
      fill="#7568C0"
    />
    <path
      d="M20.0025 28.5502H20C19.7191 28.5502 19.4635 28.5068 19.2295 28.4239C19.0182 28.349 18.8096 28.2165 18.6047 28.0103L18.6036 28.0091L9.60355 19.0091C9.24815 18.6537 9.0625 18.2019 9.0625 17.6127C9.0625 17.0234 9.24815 16.5716 9.60355 16.2162C9.9598 15.86 10.4265 15.662 11.0462 15.645C11.6586 15.6282 12.1125 15.8073 12.4589 16.1537L17.1464 20.8412L18 21.6948V20.4877V2.61268C18 2.03053 18.1918 1.56552 18.5736 1.18373C18.9553 0.802011 19.4191 0.611311 19.9988 0.61268H20C20.5821 0.61268 21.0472 0.80445 21.4289 1.18623C21.8107 1.56795 22.0014 2.03176 22 2.6115V2.61268V20.4877V21.6948L22.8535 20.8412L27.541 16.1537C27.8895 15.8053 28.3445 15.6257 28.9563 15.6425C29.5755 15.6594 30.0407 15.8579 30.3952 16.2149L30.3964 16.2162C30.7518 16.5716 30.9375 17.0234 30.9375 17.6127C30.9375 18.2019 30.7518 18.6537 30.3964 19.0091L21.3964 28.0091C21.1912 28.2144 20.9814 28.3479 20.7681 28.4247C20.5356 28.5084 20.2817 28.5516 20.0025 28.5502ZM0.500004 35.1133V35.1127V30.1127C0.500004 29.5305 0.691774 29.0655 1.07356 28.6837C1.45528 28.302 1.91908 28.1113 2.49882 28.1127H2.5C3.08215 28.1127 3.54717 28.3044 3.92895 28.6862C4.31067 29.0679 4.50137 29.5317 4.5 30.1115V30.1127V35.1127V35.6127H5H35H35.5V35.1127V30.1127C35.5 29.5305 35.6918 29.0655 36.0735 28.6837C36.4553 28.302 36.9191 28.1113 37.4988 28.1127H37.5C38.0821 28.1127 38.5471 28.3044 38.9289 28.6862C39.3107 29.0679 39.5014 29.5317 39.5 30.1115V30.1127V35.1127C39.5 36.3539 39.0635 37.4045 38.1764 38.2916C37.2894 39.1787 36.2397 39.6142 35.0006 39.6127H35H5C3.75879 39.6127 2.70813 39.1762 1.82106 38.2891C0.934005 37.4021 0.4985 36.3524 0.500004 35.1133Z"
      stroke="#7568C0"
      stroke-opacity="0.39"
    />
  </svg>
</template>
