<template>
  <svg viewBox="0 0 49 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M2 15.75L24.5 2L47 15.75"
      stroke="#7568C0"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M42 24.5V40.5C42 41.3285 41.3285 42 40.5 42H8.50003C7.67161 42 7.00003 41.3285 7.00003 40.5V24.5"
      stroke="#7568C0"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M29.5001 22H30.5001C31.3286 22 32.0001 22.6715 32.0001 23.5V30.5C32.0001 31.3285 31.3286 32 30.5001 32H18.5001C17.6717 32 17.0001 31.3285 17.0001 30.5V23.5C17.0001 22.6715 17.6717 22 18.5001 22H19.5001M29.5001 22V17C29.5001 15.3333 28.5001 12 24.5001 12C20.5001 12 19.5001 15.3333 19.5001 17V22M29.5001 22H19.5001"
      stroke="#7568C0"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
