<template>
  <svg viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M33.9999 7.47466V2.47168M33.9999 7.47466V12.4776M33.9999 7.47466H21.9999M2 22.4836V44.997C2 47.7602 4.3878 50 7.33331 50H44.6665C47.6121 50 49.9998 47.7602 49.9998 44.997V22.4836H2Z"
      stroke="#7568C0"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M2 22.4837V12.4777C2 9.71462 4.38781 7.4747 7.33332 7.4747H12.6666"
      stroke="#7568C0"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M12.6667 2.47168V12.4776"
      stroke="#7568C0"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M50 22.4837V12.4777C50 9.71462 47.6123 7.4747 44.6667 7.4747H43.3334"
      stroke="#7568C0"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
