<template>
  <svg viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M20 40.1127C19.1905 40.1127 18.5114 39.8384 17.9629 39.2898C17.4143 38.7412 17.141 38.0631 17.1429 37.2555V22.9698H2.85715C2.04763 22.9698 1.36858 22.6955 0.82001 22.147C0.271439 21.5984 -0.00189487 20.9203 9.88628e-06 20.1127C9.88628e-06 19.3031 0.274296 18.6241 0.822867 18.0755C1.37144 17.527 2.04953 17.2536 2.85715 17.2555H17.1429V2.96982C17.1429 2.1603 17.4171 1.48125 17.9657 0.932681C18.5143 0.38411 19.1924 0.110776 20 0.112681C20.8095 0.112681 21.4886 0.386967 22.0371 0.935538C22.5857 1.48411 22.859 2.1622 22.8571 2.96982V17.2555H37.1428C37.9524 17.2555 38.6314 17.5298 39.18 18.0784C39.7286 18.627 40.0019 19.3051 40 20.1127C40 20.9222 39.7257 21.6012 39.1771 22.1498C38.6286 22.6984 37.9505 22.9717 37.1428 22.9698H22.8571V37.2555C22.8571 38.065 22.5829 38.7441 22.0343 39.2927C21.4857 39.8412 20.8076 40.1146 20 40.1127Z"
      fill="#7568C0"
    />
    <path
      d="M17.6429 37.2567V37.2555V22.9698V22.4698H17.1429H2.85715C2.17381 22.4698 1.62392 22.2438 1.17356 21.7934C0.72327 21.3431 0.498403 20.7945 0.50001 20.1138V20.1127C0.50001 19.4293 0.726066 18.8794 1.17642 18.4291C1.62671 17.9788 2.17528 17.7539 2.85597 17.7555H2.85715H17.1429H17.6429V17.2555V2.96982C17.6429 2.28648 17.8689 1.73659 18.3193 1.28623C18.7696 0.835941 19.3181 0.611074 19.9988 0.612681H20C20.6833 0.612681 21.2332 0.838736 21.6836 1.28909C22.1339 1.73938 22.3587 2.28795 22.3571 2.96864V2.96982V17.2555V17.7555H22.8571H37.1428C37.8262 17.7555 38.3761 17.9816 38.8264 18.4319C39.2767 18.8822 39.5016 19.4308 39.5 20.1115V20.1127C39.5 20.796 39.2739 21.3459 38.8236 21.7963C38.3733 22.2466 37.8247 22.4714 37.144 22.4698H37.1428H22.8571H22.3571V22.9698V37.2555C22.3571 37.9389 22.1311 38.4888 21.6807 38.9391C21.2304 39.3894 20.6819 39.6143 20.0012 39.6127H20C19.3167 39.6127 18.7668 39.3866 18.3164 38.9363C17.8661 38.486 17.6413 37.9374 17.6429 37.2567ZM17.1429 22.9698H16.6429L20 40.1127C19.1905 40.1127 18.5114 39.8384 17.9629 39.2898C17.4143 38.7412 17.141 38.0631 17.1429 37.2555V23.4698V22.9698Z"
      stroke="#7568C0"
      stroke-opacity="0.39"
    />
  </svg>
</template>
