<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M4.16667 40C3.02084 40 2.03959 39.608 1.22292 38.824C0.406253 38.04 -0.00138535 37.0987 3.53707e-06 36V4C3.53707e-06 2.9 0.408336 1.958 1.225 1.174C2.04167 0.390003 3.02223 -0.00132994 4.16667 3.39559e-06H19.1146C19.6701 3.39559e-06 20.2 0.100004 20.7042 0.300004C21.2083 0.500004 21.6507 0.783337 22.0312 1.15L32.1354 10.85C32.5174 11.2167 32.8125 11.642 33.0208 12.126C33.2292 12.61 33.3333 13.118 33.3333 13.65V20H29.1667V14H20.8333C20.2431 14 19.7479 13.808 19.3479 13.424C18.9479 13.04 18.7486 12.5653 18.75 12V4H4.16667V36H16.6667V40H4.16667ZM29.7917 25.05L32.0312 27.2L23.9583 34.9V37H26.1458L34.2187 29.3L36.4062 31.4L28.0729 39.4C27.8646 39.6 27.6299 39.75 27.3687 39.85C27.1076 39.95 26.8389 40 26.5625 40H21.875C21.5972 40 21.3542 39.9 21.1458 39.7C20.9375 39.5 20.8333 39.2667 20.8333 39V34.5C20.8333 34.2333 20.8854 33.9747 20.9896 33.724C21.0938 33.4733 21.25 33.2487 21.4583 33.05L29.7917 25.05ZM36.4062 31.4L29.7917 25.05L32.8125 22.15C33.1944 21.7833 33.6806 21.6 34.2708 21.6C34.8611 21.6 35.3472 21.7833 35.7292 22.15L39.4271 25.7C39.809 26.0667 40 26.5333 40 27.1C40 27.6667 39.809 28.1333 39.4271 28.5L36.4062 31.4Z"
      fill="#7568C0"
    />
  </svg>
</template>
