<template>
  <div>
    <NavBar />
    <Suspense>
      <RouterView v-slot="{ Component }">
        <template v-if="Component">
          <Suspense timeout="0">
            <template #default>
              <component
                class="mx-auto max-w-[1424px]"
                :is="Component"
                :key="$route.path"
              />
            </template>
            <template #fallback>
              <LoaderIcon />
            </template>
          </Suspense>
        </template>
      </RouterView>
    </Suspense>
  </div>
</template>
<script>
import LoaderIcon from "./components/base/LoaderIcon.vue";
import NavBar from "./components/base/NavBar.vue";

export default {
  name: "app",
  components: {
    LoaderIcon,
    NavBar,
  },
};
</script>
